.cart-no{
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  background: rgb(238, 207, 6);
  color: rgb(17, 16, 2);
  text-align: center;
  top: -12px;
  right: 32px;
}
header{
  background-color: #21211d;
}
a
{
  text-decoration: none;
  color: #e3e7eb;

  &.active{
    color:orange
  }

}
.logo{
  cursor: pointer;
  font-size: 25px;
}
i{
  color: rgb(244, 216, 8);
}
.basket-icon{
  left: 10px;
}
